.header {
    width: 100%;
    background-color: #232a31;
    padding: 10px 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
}

.navbar-item {

    list-style: none;
    display: flex;
    align-items: center;

    gap: 16px;
}

.navbar-item li a {
    color: #eeee;
    text-transform: uppercase;
}

#login-bnt {
    background-color: #2cc762;
    color: #fff;


    border-radius: 4px;

    padding: 16px 20px;
}

.text {
    background-image: url(/img/mainbanner.png);
    padding: 50px 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   
}

.text h1,
.text strong {
    color: #f6f7f6;

}

.beneficies p {
    font-size: 14px;


}

.beneficies ul {
    padding: 70px 50px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    text-align: center;
}

.beneficies li {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;

}

.fas {
    font-size: 4rem;

}

.fa-shield-alt {
    color: #2cc762;
}

.fa-rocket {
    color: rgb(230, 15, 15);
}

.fa-comments {
    color: rgb(201, 98, 25);
}

#titulo {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
  

}


.tabela ul {
    display: flex;

    align-items: center;

}

.preco {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2cc762;
    color: #f6f7f6;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    justify-content: center;
    margin-top: -95px;

}

.preco3 {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e01717;
    color: #f6f7f6;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    justify-content: center;
    margin-top: -95px;

}

.preco3 h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tabela header {

    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232a31;

    width: 260px;
    height: auto;
    border-radius: 0px;
    padding: 30px 80px;
    gap: 10px;
}

.tabela header h3 {
    color: #e4eee4;
}

.dados {
    list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 260px;
        line-height: 3;
    
    
        width: 260px;
        background-color: #bacababb;
        color: #232a31;
    
        border-radius: 0;
        padding: 10px 5px;
}


.tabela button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2cc762;
    color: #f6f7f6;
    width: 260px;
    border-radius: 0%;
    padding: 20px 124px;
}

.ordem {
    display: flex;

    align-items: center;
    gap: 9vw;
    max-width: 100%;
    height: auto;
}

#comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2cc762;
    color: #f6f7f6;
    width: 260px;
    border-radius: 0%;
    padding: 20px 124px;
}

#comprar3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e01717;
    color: #f6f7f6;
    width: 260px;
    border-radius: 0%;
    padding: 20px 124px;
}
.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin-top: 100px;
  
    background-color: #404c58;
    color: #e4eee4;

}
.contato{
    height: 400px;
}
.cadastro h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
    font-size: 30px;
}
.cadastro h1
, .cadastro h3{
   color: #e4eee4;
   padding: 10px;
  
}
.pesquisa{
display: flex;
align-items: center;
flex-direction: column;
}

.pesquisa input{
      
    width: 500% ;
    height: 60px;
    border-radius: 4px;
   padding: 20px;
}
.buscar{
margin-top: 50px;
}
#buscar{
 background-color: #2cc762;
 color: #e4eee4;
 font-size: 25px;
 padding: 20px;
 border-radius: 4px;

}
.contato{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  
}
.contato h3{
    color: #6b7783;
   margin-top: 25px;
}
.contato input{
   border-radius: 4px;
   border: 1px solid #cfd6dd;
   width: 200px;
   height: 40px;
    margin-right: 20px;
   padding: 10px;
   margin-top: 30px;
}

.contato textarea{
border-radius: 4px;
    border: 1px solid #cfd6dd;
    width: 425px;
    height: 150px;
    margin-left: -20px;
    margin-top: 20px;
    padding: 10px;
    color: #6b7783;
}
.contato button{
    background-color: #2cc762;
    color: #f6f7f6;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}